body {
   font-family: -apple-system, sans-serif;
   font-weight: 400;
   line-height: 25px;
   font-size: 16.5px;
   color: #111111;
   margin: 50px auto;
   font-style: normal;
   background-color: #F5F5F5;
}

.podtext {
   color: gray;
}

.container {
   max-width: 740px;
   background-color: white;
   box-shadow: 0 0 10px #ddd;
   margin: 0 auto;
   padding: 20px;
   position: relative;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
}

.box {
   width: 100%;
}

@media screen and (min-width: 480px) {
   .box {
      width: 50%;
   }
}

@media screen and (min-width: 768px) {
   .box {
      width: 33.33%;
   }
}

.imagel img {
   max-width: 740px;
   max-height: 740px;
   margin: 0 auto;
}

.code {
   background-color: #FBFDFF;
   color: #212529;
   font-size: 14px;
   font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
   padding-left: 0;
   border: 1px solid #EAECEF;

}

.table {
   font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
   background-color: #FBFDFF;
   border: 1px solid #EAECEF;
   width: 100%;
   text-align: left;
}

.mineTitle {
   font-family: "Fira Sans", sans-serif;
   width: 500;
   font-style: normal;
   font-size: 20px;
   height: 26px;
   color: #434343;
}

/* Стили для устройств с максимальной шириной экрана 480px (мобильные телефоны) */
@media screen and (max-width: 480px) {
   body {
      font-size: 14px;
      line-height: 20px;
      margin: 20px auto;
   }

   .container {
      max-width: 100%;
      padding: 10px;
   }

   .imagel img {
      max-width: 100%;
      max-height: none;
   }
}

/* Стили для устройств со шириной экрана от 481px до 768px (планшеты) */
@media screen and (min-width: 481px) and (max-width: 768px) {
   body {
      font-size: 15px;
      line-height: 22px;
      margin: 30px auto;
   }

   .container {
      max-width: 100%;
      padding: 15px;
   }

   .imagel img {
      max-width: 100%;
      max-height: none;
   }
}

/* Стили для устройств со шириной экрана больше 768px (настольные компьютеры) */
@media screen and (min-width: 769px) {
   body {
      font-size: 16.5px;
      line-height: 25px;
      margin: 50px auto;
   }

   .container {
      max-width: 740px;
      padding: 20px;
   }

   .imagel img {
      max-width: 740px;
      max-height: 740px;
      margin: 0 auto;
   }
}